In [3]:
import os
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np
def convert_to_dataframe(path):
    data = []
    subfolder_column = []
    subsubfolder_column = []

    for subfolder, subsubfolders, files in os.walk(path):
        for file in files:
            if file.endswith('.json'):
                file_path = os.path.join(subfolder, file)
                with open(file_path, 'r') as f:
                    json_data = json.load(f)
                nested_df = json_normalize(json_data)
                data.append(nested_df)
                subfolder_column.extend([os.path.basename(subfolder)] * len(nested_df))
                subsubfolder_column.extend([os.path.basename(os.path.dirname(subfolder))] * len(nested_df))

    df = pd.concat(data, ignore_index=True)
    df['subfolder'] = subfolder_column
    df['subsubfolder'] = subsubfolder_column
    return df


df = convert_to_dataframe(r'C:/Users/user/PycharmProjects/phonepe/data/aggregated/user/country/india/state')
df.head()

<ipython-input-3-6035d61e5967>:17: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  nested_df = json_normalize(json_data)

,success,code,responseTimestamp,data.aggregated.registeredUsers,data.aggregated.appOpens,data.usersByDevice,subfolder,subsubfolder
0,True,SUCCESS,1630501494543,6740,0,"[{'brand': 'Xiaomi', 'count': 1665, 'percentag...",2018,andaman-&-nicobar-islands
1,True,SUCCESS,1630501494939,9405,0,"[{'brand': 'Xiaomi', 'count': 2303, 'percentag...",2018,andaman-&-nicobar-islands
2,True,SUCCESS,1630501495385,12149,0,"[{'brand': 'Xiaomi', 'count': 2950, 'percentag...",2018,andaman-&-nicobar-islands
3,True,SUCCESS,1630501495714,15222,0,"[{'brand': 'Xiaomi', 'count': 3719, 'percentag...",2018,andaman-&-nicobar-islands
4,True,SUCCESS,1630501496432,18596,0,"[{'brand': 'Xiaomi', 'count': 4576, 'percentag...",2019,andaman-&-nicobar-islands

In [4]:
df.rename(columns = {"data.usersByDevice" : "usersByDevice"}, inplace = True)
df.head()

,success,code,responseTimestamp,data.aggregated.registeredUsers,data.aggregated.appOpens,usersByDevice,subfolder,subsubfolder
0,True,SUCCESS,1630501494543,6740,0,"[{'brand': 'Xiaomi', 'count': 1665, 'percentag...",2018,andaman-&-nicobar-islands
1,True,SUCCESS,1630501494939,9405,0,"[{'brand': 'Xiaomi', 'count': 2303, 'percentag...",2018,andaman-&-nicobar-islands
2,True,SUCCESS,1630501495385,12149,0,"[{'brand': 'Xiaomi', 'count': 2950, 'percentag...",2018,andaman-&-nicobar-islands
3,True,SUCCESS,1630501495714,15222,0,"[{'brand': 'Xiaomi', 'count': 3719, 'percentag...",2018,andaman-&-nicobar-islands
4,True,SUCCESS,1630501496432,18596,0,"[{'brand': 'Xiaomi', 'count': 4576, 'percentag...",2019,andaman-&-nicobar-islands

In [5]:
def unnest_dict(df, column_name):
    new_columns = set()
    for i, row in df.iterrows():
        nested_list = row[column_name]
        if nested_list is not None:
            for nested_dict in nested_list:
                for key in nested_dict.keys():
                    new_columns.add(key)
        else:
            for key in new_columns:
                row[key] = "0"
    for key in new_columns:
        df[key] = None
    
    for i, row in df.iterrows():
        nested_list = row[column_name]
        if nested_list is not None:
            for nested_dict in nested_list:
                for key, value in nested_dict.items():
                    row[key] = value
        else:
            for key in new_columns:
                row[key] = "0"
        df.loc[i] = row
    df = df.drop(columns=[column_name])
    return df

df= unnest_dict(df, 'usersByDevice')

In [4]:
df.head()

,success,code,responseTimestamp,data.aggregated.registeredUsers,data.aggregated.appOpens,subfolder,subsubfolder,brand,count,percentage
0,True,SUCCESS,1630501494543,6740,0,2018,andaman-&-nicobar-islands,Others,684,0.101484
1,True,SUCCESS,1630501494939,9405,0,2018,andaman-&-nicobar-islands,Others,916,0.097395
2,True,SUCCESS,1630501495385,12149,0,2018,andaman-&-nicobar-islands,Others,1145,0.094246
3,True,SUCCESS,1630501495714,15222,0,2018,andaman-&-nicobar-islands,Others,1372,0.090133
4,True,SUCCESS,1630501496432,18596,0,2019,andaman-&-nicobar-islands,Others,1664,0.089482

In [6]:
df.drop(columns = ['success', 'code', 'responseTimestamp', 'data.aggregated.appOpens'], inplace = True)

In [7]:
df.rename(columns = {'data.aggregated.registeredUsers':'registeredUsers','subfolder':'transaction_year', 'subsubfolder' : 'states', 'count': 'counts', 'percentage':'percent'}, inplace = True)

In [7]:
df.head()

,registeredUsers,transaction_year,states,brand,counts,percent
0,6740,2018,andaman-&-nicobar-islands,Others,684,0.101484
1,9405,2018,andaman-&-nicobar-islands,Others,916,0.097395
2,12149,2018,andaman-&-nicobar-islands,Others,1145,0.094246
3,15222,2018,andaman-&-nicobar-islands,Others,1372,0.090133
4,18596,2019,andaman-&-nicobar-islands,Others,1664,0.089482

In [8]:
import numpy as np

df = df.sort_values(by=['states', 'transaction_year'])
df['counter'] = df.groupby(['states', 'transaction_year']).cumcount() + 1
df['quarter'] = df['counter'].map({1: 'quarter1', 2: 'quarter2', 3: 'quarter3', 4: 'quarter4'})

In [9]:
df.to_csv('aggregateduser.csv', index=False)

In [10]:
df.drop(columns = ['quarter'], inplace = True)
df.rename(columns = {'states': 'States'})
df.rename(columns = {'counter': 'Quarters', 'registeredUsers': 'Registered_Users', 'transaction_year': 'Transaction_Year', 'brand' :'Brand', 'counts': 'User_Counts', 'percent' : 'User_Percentage'}, inplace = True)

In [11]:
# df.rename(columns = {'percent': 'percentages'}, inplace = True)
df.head()

,Registered_Users,Transaction_Year,states,User_Counts,User_Percentage,Brand,Quarters
0,6740,2018,andaman-&-nicobar-islands,684,0.101484,Others,1
1,9405,2018,andaman-&-nicobar-islands,916,0.097395,Others,2
2,12149,2018,andaman-&-nicobar-islands,1145,0.094246,Others,3
3,15222,2018,andaman-&-nicobar-islands,1372,0.090133,Others,4
4,18596,2019,andaman-&-nicobar-islands,1664,0.089482,Others,1

In [13]:
df.rename(columns = {'states': 'States'}, inplace = True)
df.head(500)

,Registered_Users,Transaction_Year,States,User_Counts,User_Percentage,Brand,Quarters
0,6740,2018,andaman-&-nicobar-islands,684,0.101484,Others,1
1,9405,2018,andaman-&-nicobar-islands,916,0.097395,Others,2
2,12149,2018,andaman-&-nicobar-islands,1145,0.094246,Others,3
3,15222,2018,andaman-&-nicobar-islands,1372,0.090133,Others,4
4,18596,2019,andaman-&-nicobar-islands,1664,0.089482,Others,1
...,...,...,...,...,...,...,...
495,259990,2021,nagaland,27973,0.107593,Others,4
496,276483,2022,nagaland,29371,0.106231,Others,1
497,292104,2022,nagaland,0,0,0,2
498,307386,2022,nagaland,0,0,0,3
499,321205,2022,nagaland,0,0,0,4

In [14]:
df.head(500)

,Registered_Users,Transaction_Year,States,User_Counts,User_Percentage,Brand,Quarters
0,6740,2018,andaman-&-nicobar-islands,684,0.101484,Others,1
1,9405,2018,andaman-&-nicobar-islands,916,0.097395,Others,2
2,12149,2018,andaman-&-nicobar-islands,1145,0.094246,Others,3
3,15222,2018,andaman-&-nicobar-islands,1372,0.090133,Others,4
4,18596,2019,andaman-&-nicobar-islands,1664,0.089482,Others,1
...,...,...,...,...,...,...,...
495,259990,2021,nagaland,27973,0.107593,Others,4
496,276483,2022,nagaland,29371,0.106231,Others,1
497,292104,2022,nagaland,0,0,0,2
498,307386,2022,nagaland,0,0,0,3
499,321205,2022,nagaland,0,0,0,4

In [15]:
import pyodbc

conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=ASHWADHAASINI\SQLEXPRESS;'
                      'Database=PHONEPE;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

In [15]:
cursor.execute('''
    CREATE TABLE Aggregateduserdatatouse (
        States nvarchar(50),
        Transaction_Year int,
        Quarters int,
        Registered_Users int,
        User_Percentage decimal,
        User_Counts int,
        Brand nvarchar(50))
               ''')

In [16]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO Aggregateduserdatatouse (States, Transaction_Year, Quarters, Registered_Users, User_Percentage, User_Counts, Brand)
                VALUES (?,?,?,?,?,?,?)
                ''',
                row.States, 
                row.Transaction_Year,
                row.Quarters,
                row.Registered_Users,
                row.User_Percentage,
                row.User_Counts,
                row.Brand
                )
conn.commit()

In [18]:
cursor.execute("SELECT * FROM dbo.Aggregateduserdatatouse")
rows = cursor.fetchall()
for row in rows:
    print(row)

('andaman-&-nicobar-islands', 2018, 1, 6740, Decimal('0'), 684, 'Others')
('andaman-&-nicobar-islands', 2018, 2, 9405, Decimal('0'), 916, 'Others')
('andaman-&-nicobar-islands', 2018, 3, 12149, Decimal('0'), 1145, 'Others')
('andaman-&-nicobar-islands', 2018, 4, 15222, Decimal('0'), 1372, 'Others')
('andaman-&-nicobar-islands', 2019, 1, 18596, Decimal('0'), 1664, 'Others')
('andaman-&-nicobar-islands', 2019, 2, 21731, Decimal('0'), 1981, 'Others')
('andaman-&-nicobar-islands', 2019, 3, 23931, Decimal('0'), 2110, 'Others')
('andaman-&-nicobar-islands', 2019, 4, 25960, Decimal('0'), 2183, 'Others')
('andaman-&-nicobar-islands', 2020, 1, 28368, Decimal('0'), 2257, 'Others')
('andaman-&-nicobar-islands', 2020, 2, 32710, Decimal('0'), 2617, 'Others')
('andaman-&-nicobar-islands', 2020, 3, 41335, Decimal('0'), 3362, 'Others')
('andaman-&-nicobar-islands', 2020, 4, 52396, Decimal('0'), 4243, 'Others')
('andaman-&-nicobar-islands', 2021, 1, 57758, Decimal('0'), 4532, 'Others')
('andaman-&-nicobar-islands', 2021, 2, 62095, Decimal('0'), 4564, 'Others')
('andaman-&-nicobar-islands', 2021, 3, 66982, Decimal('0'), 4593, 'Others')
('andaman-&-nicobar-islands', 2021, 4, 71780, Decimal('0'), 4572, 'Others')
('andaman-&-nicobar-islands', 2022, 1, 76288, Decimal('0'), 4558, 'Others')
('andaman-&-nicobar-islands', 2022, 2, 80530, Decimal('0'), 0, '0')
('andaman-&-nicobar-islands', 2022, 3, 84642, Decimal('0'), 0, '0')
('andaman-&-nicobar-islands', 2022, 4, 88442, Decimal('0'), 0, '0')
('andhra-pradesh', 2018, 1, 3336450, Decimal('0'), 305864, 'Others')
('andhra-pradesh', 2018, 2, 4402540, Decimal('0'), 394490, 'Others')
('andhra-pradesh', 2018, 3, 5427617, Decimal('0'), 462313, 'Others')
('andhra-pradesh', 2018, 4, 6857409, Decimal('0'), 556203, 'Others')
('andhra-pradesh', 2019, 1, 8283019, Decimal('0'), 659126, 'Others')
('andhra-pradesh', 2019, 2, 9389003, Decimal('0'), 729764, 'Others')
('andhra-pradesh', 2019, 3, 10458693, Decimal('0'), 805644, 'Others')
('andhra-pradesh', 2019, 4, 11757883, Decimal('0'), 882214, 'Others')
('andhra-pradesh', 2020, 1, 13022060, Decimal('0'), 964486, 'Others')
('andhra-pradesh', 2020, 2, 14319675, Decimal('0'), 1053205, 'Others')
('andhra-pradesh', 2020, 3, 15692405, Decimal('0'), 1129155, 'Others')
('andhra-pradesh', 2020, 4, 17076565, Decimal('0'), 1212259, 'Others')
('andhra-pradesh', 2021, 1, 18363733, Decimal('0'), 1267571, 'Others')
('andhra-pradesh', 2021, 2, 19620905, Decimal('0'), 1271853, 'Others')
('andhra-pradesh', 2021, 3, 21059898, Decimal('0'), 1286102, 'Others')
('andhra-pradesh', 2021, 4, 22489029, Decimal('0'), 1283514, 'Others')
('andhra-pradesh', 2022, 1, 23857951, Decimal('0'), 1309987, 'Others')
('andhra-pradesh', 2022, 2, 25157264, Decimal('0'), 0, '0')
('andhra-pradesh', 2022, 3, 26496330, Decimal('0'), 0, '0')
('andhra-pradesh', 2022, 4, 27778016, Decimal('0'), 0, '0')
('arunachal-pradesh', 2018, 1, 21495, Decimal('0'), 2144, 'Others')
('arunachal-pradesh', 2018, 2, 32883, Decimal('0'), 3206, 'Others')
('arunachal-pradesh', 2018, 3, 45922, Decimal('0'), 4203, 'Others')
('arunachal-pradesh', 2018, 4, 61852, Decimal('0'), 5234, 'Others')
('arunachal-pradesh', 2019, 1, 76957, Decimal('0'), 6165, 'Others')
('arunachal-pradesh', 2019, 2, 95885, Decimal('0'), 7172, 'Others')
('arunachal-pradesh', 2019, 3, 112149, Decimal('0'), 7928, 'Others')
('arunachal-pradesh', 2019, 4, 129321, Decimal('0'), 8580, 'Others')
('arunachal-pradesh', 2020, 1, 149066, Decimal('0'), 9566, 'Others')
('arunachal-pradesh', 2020, 2, 177534, Decimal('0'), 11120, 'Others')
('arunachal-pradesh', 2020, 3, 206046, Decimal('0'), 12215, 'Others')
('arunachal-pradesh', 2020, 4, 231292, Decimal('0'), 13282, 'Others')
('arunachal-pradesh', 2021, 1, 251240, Decimal('0'), 14159, 'Others')
('arunachal-pradesh', 2021, 2, 270572, Decimal('0'), 14675, 'Others')
('arunachal-pradesh', 2021, 3, 293073, Decimal('0'), 15474, 'Others')
('arunachal-pradesh', 2021, 4, 314944, Decimal('0'), 16114, 'Others')
('arunachal-pradesh', 2022, 1, 335339, Decimal('0'), 17151, 'Others')
('arunachal-pradesh', 2022, 2, 354528, Decimal('0'), 0, '0')
('arunachal-pradesh', 2022, 3, 373372, Decimal('0'), 0, '0')
('arunachal-pradesh', 2022, 4, 390307, Decimal('0'), 0, '0')
('assam', 2018, 1, 385237, Decimal('0'), 60361, 'Others')
('assam', 2018, 2, 571046, Decimal('0'), 85761, 'Others')
('assam', 2018, 3, 784802, Decimal('0'), 109991, 'Others')
('assam', 2018, 4, 1039221, Decimal('0'), 133347, 'Others')
('assam', 2019, 1, 1259085, Decimal('0'), 155028, 'Others')
('assam', 2019, 2, 1500128, Decimal('0'), 175595, 'Others')
('assam', 2019, 3, 1731523, Decimal('0'), 195744, 'Others')
('assam', 2019, 4, 1941220, Decimal('0'), 212564, 'Others')
('assam', 2020, 1, 2185938, Decimal('0'), 232421, 'Others')
('assam', 2020, 2, 2550883, Decimal('0'), 265292, 'Others')
('assam', 2020, 3, 2830011, Decimal('0'), 284227, 'Others')
('assam', 2020, 4, 3106153, Decimal('0'), 307543, 'Others')
('assam', 2021, 1, 3358448, Decimal('0'), 323331, 'Others')
('assam', 2021, 2, 3617056, Decimal('0'), 345469, 'Others')
('assam', 2021, 3, 3918480, Decimal('0'), 369128, 'Others')
('assam', 2021, 4, 4209591, Decimal('0'), 385719, 'Others')
('assam', 2022, 1, 4492589, Decimal('0'), 390847, 'Others')
('assam', 2022, 2, 4755787, Decimal('0'), 0, '0')
('assam', 2022, 3, 5016910, Decimal('0'), 0, '0')
('assam', 2022, 4, 5247776, Decimal('0'), 0, '0')
('bihar', 2018, 1, 2133804, Decimal('0'), 269839, 'Others')
('bihar', 2018, 2, 3005872, Decimal('0'), 364005, 'Others')
('bihar', 2018, 3, 3784535, Decimal('0'), 429617, 'Others')
('bihar', 2018, 4, 4776665, Decimal('0'), 509951, 'Others')
('bihar', 2019, 1, 5745117, Decimal('0'), 594465, 'Others')
('bihar', 2019, 2, 6589759, Decimal('0'), 660705, 'Others')
('bihar', 2019, 3, 7380265, Decimal('0'), 722582, 'Others')
('bihar', 2019, 4, 8342274, Decimal('0'), 785204, 'Others')
('bihar', 2020, 1, 9351234, Decimal('0'), 851439, 'Others')
('bihar', 2020, 2, 10603767, Decimal('0'), 941831, 'Others')
('bihar', 2020, 3, 11763213, Decimal('0'), 999169, 'Others')
('bihar', 2020, 4, 12889833, Decimal('0'), 1071943, 'Others')
('bihar', 2021, 1, 13946288, Decimal('0'), 1119501, 'Others')
('bihar', 2021, 2, 14972134, Decimal('0'), 1146472, 'Others')
('bihar', 2021, 3, 16160771, Decimal('0'), 1163194, 'Others')
('bihar', 2021, 4, 17335981, Decimal('0'), 1185884, 'Others')
('bihar', 2022, 1, 18484658, Decimal('0'), 1205491, 'Others')
('bihar', 2022, 2, 19569894, Decimal('0'), 0, '0')
('bihar', 2022, 3, 20694376, Decimal('0'), 0, '0')
('bihar', 2022, 4, 21738117, Decimal('0'), 0, '0')
('chandigarh', 2018, 1, 86268, Decimal('0'), 10326, 'Others')
('chandigarh', 2018, 2, 115219, Decimal('0'), 12997, 'Others')
('chandigarh', 2018, 3, 143893, Decimal('0'), 15924, 'Others')
('chandigarh', 2018, 4, 177747, Decimal('0'), 18101, 'Others')
('chandigarh', 2019, 1, 209175, Decimal('0'), 20413, 'Others')
('chandigarh', 2019, 2, 240439, Decimal('0'), 22669, 'Others')
('chandigarh', 2019, 3, 267337, Decimal('0'), 24299, 'Others')
('chandigarh', 2019, 4, 289590, Decimal('0'), 25398, 'Others')
('chandigarh', 2020, 1, 312887, Decimal('0'), 26379, 'Others')
('chandigarh', 2020, 2, 336351, Decimal('0'), 27756, 'Others')
('chandigarh', 2020, 3, 362588, Decimal('0'), 28547, 'Others')
('chandigarh', 2020, 4, 391402, Decimal('0'), 29518, 'Others')
('chandigarh', 2021, 1, 419998, Decimal('0'), 30387, 'Others')
('chandigarh', 2021, 2, 448572, Decimal('0'), 30726, 'Others')
('chandigarh', 2021, 3, 480463, Decimal('0'), 31451, 'Others')
('chandigarh', 2021, 4, 512092, Decimal('0'), 31911, 'Others')
('chandigarh', 2022, 1, 541549, Decimal('0'), 32951, 'Others')
('chandigarh', 2022, 2, 569582, Decimal('0'), 0, '0')
('chandigarh', 2022, 3, 598698, Decimal('0'), 0, '0')
('chandigarh', 2022, 4, 627563, Decimal('0'), 0, '0')
('chhattisgarh', 2018, 1, 679263, Decimal('0'), 75246, 'Others')
('chhattisgarh', 2018, 2, 950675, Decimal('0'), 102019, 'Others')
('chhattisgarh', 2018, 3, 1217792, Decimal('0'), 121702, 'Others')
('chhattisgarh', 2018, 4, 1579998, Decimal('0'), 144918, 'Others')
('chhattisgarh', 2019, 1, 1908898, Decimal('0'), 169440, 'Others')
('chhattisgarh', 2019, 2, 2191066, Decimal('0'), 186861, 'Others')
('chhattisgarh', 2019, 3, 2435058, Decimal('0'), 203151, 'Others')
('chhattisgarh', 2019, 4, 2725900, Decimal('0'), 218935, 'Others')
('chhattisgarh', 2020, 1, 3016487, Decimal('0'), 234811, 'Others')
('chhattisgarh', 2020, 2, 3401658, Decimal('0'), 260036, 'Others')
('chhattisgarh', 2020, 3, 3799386, Decimal('0'), 278766, 'Others')
('chhattisgarh', 2020, 4, 4190601, Decimal('0'), 301552, 'Others')
('chhattisgarh', 2021, 1, 4514551, Decimal('0'), 316548, 'Others')
('chhattisgarh', 2021, 2, 4837055, Decimal('0'), 330403, 'Others')
('chhattisgarh', 2021, 3, 5206084, Decimal('0'), 343945, 'Others')
('chhattisgarh', 2021, 4, 5565481, Decimal('0'), 344240, 'Others')
('chhattisgarh', 2022, 1, 5916961, Decimal('0'), 344930, 'Others')
('chhattisgarh', 2022, 2, 6238349, Decimal('0'), 0, '0')
('chhattisgarh', 2022, 3, 6562237, Decimal('0'), 0, '0')
('chhattisgarh', 2022, 4, 6846822, Decimal('0'), 0, '0')
('dadra-&-nagar-haveli-&-daman-&-diu', 2018, 1, 53258, Decimal('0'), 6321, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2018, 2, 71458, Decimal('0'), 8409, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2018, 3, 92107, Decimal('0'), 10673, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2018, 4, 116511, Decimal('0'), 12805, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2019, 1, 140532, Decimal('0'), 14960, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2019, 2, 158580, Decimal('0'), 16282, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2019, 3, 176929, Decimal('0'), 17605, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2019, 4, 197598, Decimal('0'), 18759, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2020, 1, 218496, Decimal('0'), 20032, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2020, 2, 244814, Decimal('0'), 21921, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2020, 3, 267946, Decimal('0'), 23151, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2020, 4, 296493, Decimal('0'), 25174, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2021, 1, 321396, Decimal('0'), 26537, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2021, 2, 344994, Decimal('0'), 27481, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2021, 3, 371874, Decimal('0'), 28219, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2021, 4, 398963, Decimal('0'), 27524, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2022, 1, 424570, Decimal('0'), 27296, 'Others')
('dadra-&-nagar-haveli-&-daman-&-diu', 2022, 2, 449016, Decimal('0'), 0, '0')
('dadra-&-nagar-haveli-&-daman-&-diu', 2022, 3, 474807, Decimal('0'), 0, '0')
('dadra-&-nagar-haveli-&-daman-&-diu', 2022, 4, 500125, Decimal('0'), 0, '0')
('delhi', 2018, 1, 2087022, Decimal('0'), 253133, 'Others')
('delhi', 2018, 2, 2756141, Decimal('0'), 325153, 'Others')
('delhi', 2018, 3, 3504911, Decimal('0'), 402038, 'Others')
('delhi', 2018, 4, 4630313, Decimal('0'), 495203, 'Others')
('delhi', 2019, 1, 5499263, Decimal('0'), 565810, 'Others')
('delhi', 2019, 2, 6165448, Decimal('0'), 611121, 'Others')
('delhi', 2019, 3, 6782286, Decimal('0'), 649722, 'Others')
('delhi', 2019, 4, 7289883, Decimal('0'), 677727, 'Others')
('delhi', 2020, 1, 7826197, Decimal('0'), 707838, 'Others')
('delhi', 2020, 2, 8391139, Decimal('0'), 745197, 'Others')
('delhi', 2020, 3, 9044174, Decimal('0'), 782601, 'Others')
('delhi', 2020, 4, 9747968, Decimal('0'), 827035, 'Others')
('delhi', 2021, 1, 10467210, Decimal('0'), 867619, 'Others')
('delhi', 2021, 2, 11182699, Decimal('0'), 893281, 'Others')
('delhi', 2021, 3, 11980061, Decimal('0'), 903912, 'Others')
('delhi', 2021, 4, 12785127, Decimal('0'), 898426, 'Others')
('delhi', 2022, 1, 13539197, Decimal('0'), 904612, 'Others')
('delhi', 2022, 2, 14260143, Decimal('0'), 0, '0')
('delhi', 2022, 3, 15009523, Decimal('0'), 0, '0')
('delhi', 2022, 4, 15764149, Decimal('0'), 0, '0')
('goa', 2018, 1, 91936, Decimal('0'), 9691, 'Others')
('goa', 2018, 2, 122174, Decimal('0'), 12693, 'Others')
('goa', 2018, 3, 153802, Decimal('0'), 15517, 'Others')
('goa', 2018, 4, 195350, Decimal('0'), 18469, 'Others')
('goa', 2019, 1, 238152, Decimal('0'), 22129, 'Others')
('goa', 2019, 2, 278940, Decimal('0'), 25483, 'Others')
('goa', 2019, 3, 317194, Decimal('0'), 28677, 'Others')
('goa', 2019, 4, 353546, Decimal('0'), 31023, 'Others')
('goa', 2020, 1, 391900, Decimal('0'), 33718, 'Others')
('goa', 2020, 2, 430639, Decimal('0'), 36617, 'Others')
('goa', 2020, 3, 474962, Decimal('0'), 38906, 'Others')
('goa', 2020, 4, 527584, Decimal('0'), 42522, 'Others')
('goa', 2021, 1, 570035, Decimal('0'), 45242, 'Others')
('goa', 2021, 2, 609106, Decimal('0'), 47222, 'Others')
('goa', 2021, 3, 653458, Decimal('0'), 49659, 'Others')
('goa', 2021, 4, 697178, Decimal('0'), 50052, 'Others')
('goa', 2022, 1, 738628, Decimal('0'), 51166, 'Others')
('goa', 2022, 2, 777779, Decimal('0'), 0, '0')
('goa', 2022, 3, 817830, Decimal('0'), 0, '0')
('goa', 2022, 4, 855202, Decimal('0'), 0, '0')
('gujarat', 2018, 1, 2690048, Decimal('0'), 231992, 'Others')
('gujarat', 2018, 2, 3565825, Decimal('0'), 299560, 'Others')
('gujarat', 2018, 3, 4433183, Decimal('0'), 357223, 'Others')
('gujarat', 2018, 4, 5579040, Decimal('0'), 419962, 'Others')
('gujarat', 2019, 1, 6652536, Decimal('0'), 482927, 'Others')
('gujarat', 2019, 2, 7574645, Decimal('0'), 529849, 'Others')
('gujarat', 2019, 3, 8429299, Decimal('0'), 571154, 'Others')
('gujarat', 2019, 4, 9323799, Decimal('0'), 608911, 'Others')
('gujarat', 2020, 1, 10259843, Decimal('0'), 648269, 'Others')
('gujarat', 2020, 2, 11392657, Decimal('0'), 704225, 'Others')
('gujarat', 2020, 3, 12467847, Decimal('0'), 742601, 'Others')
('gujarat', 2020, 4, 13605203, Decimal('0'), 793685, 'Others')
('gujarat', 2021, 1, 14670126, Decimal('0'), 835226, 'Others')
('gujarat', 2021, 2, 15735981, Decimal('0'), 869556, 'Others')
('gujarat', 2021, 3, 16946761, Decimal('0'), 901175, 'Others')
('gujarat', 2021, 4, 18139201, Decimal('0'), 900704, 'Others')
('gujarat', 2022, 1, 19265314, Decimal('0'), 910086, 'Others')
('gujarat', 2022, 2, 20321596, Decimal('0'), 0, '0')
('gujarat', 2022, 3, 21394721, Decimal('0'), 0, '0')
('gujarat', 2022, 4, 22412353, Decimal('0'), 0, '0')
('haryana', 2018, 1, 1847357, Decimal('0'), 196383, 'Others')
('haryana', 2018, 2, 2447221, Decimal('0'), 255374, 'Others')
('haryana', 2018, 3, 3020398, Decimal('0'), 301529, 'Others')
('haryana', 2018, 4, 3793079, Decimal('0'), 355711, 'Others')
('haryana', 2019, 1, 4538767, Decimal('0'), 413351, 'Others')
('haryana', 2019, 2, 5178030, Decimal('0'), 456255, 'Others')
('haryana', 2019, 3, 5783752, Decimal('0'), 496008, 'Others')
('haryana', 2019, 4, 6366679, Decimal('0'), 529607, 'Others')
('haryana', 2020, 1, 7018770, Decimal('0'), 576017, 'Others')
('haryana', 2020, 2, 7682878, Decimal('0'), 619595, 'Others')
('haryana', 2020, 3, 8398816, Decimal('0'), 657549, 'Others')
('haryana', 2020, 4, 9129873, Decimal('0'), 704226, 'Others')
('haryana', 2021, 1, 9827905, Decimal('0'), 743779, 'Others')
('haryana', 2021, 2, 10530594, Decimal('0'), 756160, 'Others')
('haryana', 2021, 3, 11325336, Decimal('0'), 764739, 'Others')
('haryana', 2021, 4, 12116439, Decimal('0'), 771996, 'Others')
('haryana', 2022, 1, 12866988, Decimal('0'), 786848, 'Others')
('haryana', 2022, 2, 13576065, Decimal('0'), 0, '0')
('haryana', 2022, 3, 14303933, Decimal('0'), 0, '0')
('haryana', 2022, 4, 14994944, Decimal('0'), 0, '0')
('himachal-pradesh', 2018, 1, 227373, Decimal('0'), 43923, 'Others')
('himachal-pradesh', 2018, 2, 315299, Decimal('0'), 59127, 'Others')
('himachal-pradesh', 2018, 3, 407634, Decimal('0'), 71997, 'Others')
('himachal-pradesh', 2018, 4, 526343, Decimal('0'), 88076, 'Others')
('himachal-pradesh', 2019, 1, 653205, Decimal('0'), 106645, 'Others')
('himachal-pradesh', 2019, 2, 772603, Decimal('0'), 122730, 'Others')
('himachal-pradesh', 2019, 3, 876184, Decimal('0'), 134682, 'Others')
('himachal-pradesh', 2019, 4, 985945, Decimal('0'), 144391, 'Others')
('himachal-pradesh', 2020, 1, 1106025, Decimal('0'), 157851, 'Others')
('himachal-pradesh', 2020, 2, 1249867, Decimal('0'), 175257, 'Others')
('himachal-pradesh', 2020, 3, 1378634, Decimal('0'), 185345, 'Others')
('himachal-pradesh', 2020, 4, 1508766, Decimal('0'), 197330, 'Others')
('himachal-pradesh', 2021, 1, 1622951, Decimal('0'), 207246, 'Others')
('himachal-pradesh', 2021, 2, 1743151, Decimal('0'), 217138, 'Others')
('himachal-pradesh', 2021, 3, 1880626, Decimal('0'), 227439, 'Others')
('himachal-pradesh', 2021, 4, 2013747, Decimal('0'), 232765, 'Others')
('himachal-pradesh', 2022, 1, 2143483, Decimal('0'), 238791, 'Others')
('himachal-pradesh', 2022, 2, 2264407, Decimal('0'), 0, '0')
('himachal-pradesh', 2022, 3, 2381576, Decimal('0'), 0, '0')
('himachal-pradesh', 2022, 4, 2483076, Decimal('0'), 0, '0')
('jammu-&-kashmir', 2018, 1, 176425, Decimal('0'), 21063, 'Others')
('jammu-&-kashmir', 2018, 2, 261609, Decimal('0'), 29000, 'Others')
('jammu-&-kashmir', 2018, 3, 342529, Decimal('0'), 34877, 'Others')
('jammu-&-kashmir', 2018, 4, 436563, Decimal('0'), 40744, 'Others')
('jammu-&-kashmir', 2019, 1, 530669, Decimal('0'), 47056, 'Others')
('jammu-&-kashmir', 2019, 2, 631193, Decimal('0'), 53429, 'Others')
('jammu-&-kashmir', 2019, 3, 658455, Decimal('0'), 53592, 'Others')
('jammu-&-kashmir', 2019, 4, 673367, Decimal('0'), 51340, 'Others')
('jammu-&-kashmir', 2020, 1, 735408, Decimal('0'), 52660, 'Others')
('jammu-&-kashmir', 2020, 2, 845294, Decimal('0'), 58039, 'Others')
('jammu-&-kashmir', 2020, 3, 949819, Decimal('0'), 60878, 'Others')
('jammu-&-kashmir', 2020, 4, 1079022, Decimal('0'), 65639, 'Others')
('jammu-&-kashmir', 2021, 1, 1174818, Decimal('0'), 68970, 'Others')
('jammu-&-kashmir', 2021, 2, 1261267, Decimal('0'), 72623, 'Others')
('jammu-&-kashmir', 2021, 3, 1359860, Decimal('0'), 76575, 'Others')
('jammu-&-kashmir', 2021, 4, 1456810, Decimal('0'), 77848, 'Others')
('jammu-&-kashmir', 2022, 1, 1549320, Decimal('0'), 79511, 'Others')
('jammu-&-kashmir', 2022, 2, 1635570, Decimal('0'), 0, '0')
('jammu-&-kashmir', 2022, 3, 1719185, Decimal('0'), 0, '0')
('jammu-&-kashmir', 2022, 4, 1793434, Decimal('0'), 0, '0')
('jharkhand', 2018, 1, 885762, Decimal('0'), 120723, 'Others')
('jharkhand', 2018, 2, 1230599, Decimal('0'), 160266, 'Others')
('jharkhand', 2018, 3, 1532362, Decimal('0'), 188566, 'Others')
('jharkhand', 2018, 4, 1913949, Decimal('0'), 222774, 'Others')
('jharkhand', 2019, 1, 2279329, Decimal('0'), 256414, 'Others')
('jharkhand', 2019, 2, 2604854, Decimal('0'), 281621, 'Others')
('jharkhand', 2019, 3, 2915511, Decimal('0'), 304811, 'Others')
('jharkhand', 2019, 4, 3281371, Decimal('0'), 327596, 'Others')
('jharkhand', 2020, 1, 3651393, Decimal('0'), 352312, 'Others')
('jharkhand', 2020, 2, 4061035, Decimal('0'), 381433, 'Others')
('jharkhand', 2020, 3, 4480027, Decimal('0'), 403314, 'Others')
('jharkhand', 2020, 4, 4917938, Decimal('0'), 432192, 'Others')
('jharkhand', 2021, 1, 5313049, Decimal('0'), 458221, 'Others')
('jharkhand', 2021, 2, 5701503, Decimal('0'), 475633, 'Others')
('jharkhand', 2021, 3, 6151843, Decimal('0'), 496877, 'Others')
('jharkhand', 2021, 4, 6596196, Decimal('0'), 498725, 'Others')
('jharkhand', 2022, 1, 7025275, Decimal('0'), 499034, 'Others')
('jharkhand', 2022, 2, 7426174, Decimal('0'), 0, '0')
('jharkhand', 2022, 3, 7836429, Decimal('0'), 0, '0')
('jharkhand', 2022, 4, 8217638, Decimal('0'), 0, '0')
('karnataka', 2018, 1, 3717763, Decimal('0'), 321329, 'Others')
('karnataka', 2018, 2, 5030665, Decimal('0'), 424500, 'Others')
('karnataka', 2018, 3, 6372649, Decimal('0'), 517237, 'Others')
('karnataka', 2018, 4, 8315802, Decimal('0'), 632594, 'Others')
('karnataka', 2019, 1, 10266174, Decimal('0'), 757436, 'Others')
('karnataka', 2019, 2, 11968087, Decimal('0'), 860508, 'Others')
('karnataka', 2019, 3, 13635075, Decimal('0'), 968189, 'Others')

In [16]:
df = pd.read_sql('SELECT * FROM dbo.Aggregateduserdatatouse', con=conn)

In [88]:
query = "UPDATE dbo.Aggregateduserdatatouse SET States = 'Uttarakhand' WHERE States = 'uttarakhand'"
cursor = conn.cursor()
cursor.execute(query)
conn.commit()

In [89]:
cursor.execute("SELECT * FROM dbo.Aggregateduserdatatouse")
rows = cursor.fetchall()
for row in rows:
    print(row)

('Andaman & Nicobar Island', 2018, 1, 6740, Decimal('0'), 684, 'Others')
('Andaman & Nicobar Island', 2018, 2, 9405, Decimal('0'), 916, 'Others')
('Andaman & Nicobar Island', 2018, 3, 12149, Decimal('0'), 1145, 'Others')
('Andaman & Nicobar Island', 2018, 4, 15222, Decimal('0'), 1372, 'Others')
('Andaman & Nicobar Island', 2019, 1, 18596, Decimal('0'), 1664, 'Others')
('Andaman & Nicobar Island', 2019, 2, 21731, Decimal('0'), 1981, 'Others')
('Andaman & Nicobar Island', 2019, 3, 23931, Decimal('0'), 2110, 'Others')
('Andaman & Nicobar Island', 2019, 4, 25960, Decimal('0'), 2183, 'Others')
('Andaman & Nicobar Island', 2020, 1, 28368, Decimal('0'), 2257, 'Others')
('Andaman & Nicobar Island', 2020, 2, 32710, Decimal('0'), 2617, 'Others')
('Andaman & Nicobar Island', 2020, 3, 41335, Decimal('0'), 3362, 'Others')
('Andaman & Nicobar Island', 2020, 4, 52396, Decimal('0'), 4243, 'Others')
('Andaman & Nicobar Island', 2021, 1, 57758, Decimal('0'), 4532, 'Others')
('Andaman & Nicobar Island', 2021, 2, 62095, Decimal('0'), 4564, 'Others')
('Andaman & Nicobar Island', 2021, 3, 66982, Decimal('0'), 4593, 'Others')
('Andaman & Nicobar Island', 2021, 4, 71780, Decimal('0'), 4572, 'Others')
('Andaman & Nicobar Island', 2022, 1, 76288, Decimal('0'), 4558, 'Others')
('Andaman & Nicobar Island', 2022, 2, 80530, Decimal('0'), 0, '0')
('Andaman & Nicobar Island', 2022, 3, 84642, Decimal('0'), 0, '0')
('Andaman & Nicobar Island', 2022, 4, 88442, Decimal('0'), 0, '0')
('Andhra Pradesh', 2018, 1, 3336450, Decimal('0'), 305864, 'Others')
('Andhra Pradesh', 2018, 2, 4402540, Decimal('0'), 394490, 'Others')
('Andhra Pradesh', 2018, 3, 5427617, Decimal('0'), 462313, 'Others')
('Andhra Pradesh', 2018, 4, 6857409, Decimal('0'), 556203, 'Others')
('Andhra Pradesh', 2019, 1, 8283019, Decimal('0'), 659126, 'Others')
('Andhra Pradesh', 2019, 2, 9389003, Decimal('0'), 729764, 'Others')
('Andhra Pradesh', 2019, 3, 10458693, Decimal('0'), 805644, 'Others')
('Andhra Pradesh', 2019, 4, 11757883, Decimal('0'), 882214, 'Others')
('Andhra Pradesh', 2020, 1, 13022060, Decimal('0'), 964486, 'Others')
('Andhra Pradesh', 2020, 2, 14319675, Decimal('0'), 1053205, 'Others')
('Andhra Pradesh', 2020, 3, 15692405, Decimal('0'), 1129155, 'Others')
('Andhra Pradesh', 2020, 4, 17076565, Decimal('0'), 1212259, 'Others')
('Andhra Pradesh', 2021, 1, 18363733, Decimal('0'), 1267571, 'Others')
('Andhra Pradesh', 2021, 2, 19620905, Decimal('0'), 1271853, 'Others')
('Andhra Pradesh', 2021, 3, 21059898, Decimal('0'), 1286102, 'Others')
('Andhra Pradesh', 2021, 4, 22489029, Decimal('0'), 1283514, 'Others')
('Andhra Pradesh', 2022, 1, 23857951, Decimal('0'), 1309987, 'Others')
('Andhra Pradesh', 2022, 2, 25157264, Decimal('0'), 0, '0')
('Andhra Pradesh', 2022, 3, 26496330, Decimal('0'), 0, '0')
('Andhra Pradesh', 2022, 4, 27778016, Decimal('0'), 0, '0')
('Arunachal Pradesh', 2018, 1, 21495, Decimal('0'), 2144, 'Others')
('Arunachal Pradesh', 2018, 2, 32883, Decimal('0'), 3206, 'Others')
('Arunachal Pradesh', 2018, 3, 45922, Decimal('0'), 4203, 'Others')
('Arunachal Pradesh', 2018, 4, 61852, Decimal('0'), 5234, 'Others')
('Arunachal Pradesh', 2019, 1, 76957, Decimal('0'), 6165, 'Others')
('Arunachal Pradesh', 2019, 2, 95885, Decimal('0'), 7172, 'Others')
('Arunachal Pradesh', 2019, 3, 112149, Decimal('0'), 7928, 'Others')
('Arunachal Pradesh', 2019, 4, 129321, Decimal('0'), 8580, 'Others')
('Arunachal Pradesh', 2020, 1, 149066, Decimal('0'), 9566, 'Others')
('Arunachal Pradesh', 2020, 2, 177534, Decimal('0'), 11120, 'Others')
('Arunachal Pradesh', 2020, 3, 206046, Decimal('0'), 12215, 'Others')
('Arunachal Pradesh', 2020, 4, 231292, Decimal('0'), 13282, 'Others')
('Arunachal Pradesh', 2021, 1, 251240, Decimal('0'), 14159, 'Others')
('Arunachal Pradesh', 2021, 2, 270572, Decimal('0'), 14675, 'Others')
('Arunachal Pradesh', 2021, 3, 293073, Decimal('0'), 15474, 'Others')
('Arunachal Pradesh', 2021, 4, 314944, Decimal('0'), 16114, 'Others')
('Arunachal Pradesh', 2022, 1, 335339, Decimal('0'), 17151, 'Others')
('Arunachal Pradesh', 2022, 2, 354528, Decimal('0'), 0, '0')
('Arunachal Pradesh', 2022, 3, 373372, Decimal('0'), 0, '0')
('Arunachal Pradesh', 2022, 4, 390307, Decimal('0'), 0, '0')
('Assam', 2018, 1, 385237, Decimal('0'), 60361, 'Others')
('Assam', 2018, 2, 571046, Decimal('0'), 85761, 'Others')
('Assam', 2018, 3, 784802, Decimal('0'), 109991, 'Others')
('Assam', 2018, 4, 1039221, Decimal('0'), 133347, 'Others')
('Assam', 2019, 1, 1259085, Decimal('0'), 155028, 'Others')
('Assam', 2019, 2, 1500128, Decimal('0'), 175595, 'Others')
('Assam', 2019, 3, 1731523, Decimal('0'), 195744, 'Others')
('Assam', 2019, 4, 1941220, Decimal('0'), 212564, 'Others')
('Assam', 2020, 1, 2185938, Decimal('0'), 232421, 'Others')
('Assam', 2020, 2, 2550883, Decimal('0'), 265292, 'Others')
('Assam', 2020, 3, 2830011, Decimal('0'), 284227, 'Others')
('Assam', 2020, 4, 3106153, Decimal('0'), 307543, 'Others')
('Assam', 2021, 1, 3358448, Decimal('0'), 323331, 'Others')
('Assam', 2021, 2, 3617056, Decimal('0'), 345469, 'Others')
('Assam', 2021, 3, 3918480, Decimal('0'), 369128, 'Others')
('Assam', 2021, 4, 4209591, Decimal('0'), 385719, 'Others')
('Assam', 2022, 1, 4492589, Decimal('0'), 390847, 'Others')
('Assam', 2022, 2, 4755787, Decimal('0'), 0, '0')
('Assam', 2022, 3, 5016910, Decimal('0'), 0, '0')
('Assam', 2022, 4, 5247776, Decimal('0'), 0, '0')
('Bihar', 2018, 1, 2133804, Decimal('0'), 269839, 'Others')
('Bihar', 2018, 2, 3005872, Decimal('0'), 364005, 'Others')
('Bihar', 2018, 3, 3784535, Decimal('0'), 429617, 'Others')
('Bihar', 2018, 4, 4776665, Decimal('0'), 509951, 'Others')
('Bihar', 2019, 1, 5745117, Decimal('0'), 594465, 'Others')
('Bihar', 2019, 2, 6589759, Decimal('0'), 660705, 'Others')
('Bihar', 2019, 3, 7380265, Decimal('0'), 722582, 'Others')
('Bihar', 2019, 4, 8342274, Decimal('0'), 785204, 'Others')
('Bihar', 2020, 1, 9351234, Decimal('0'), 851439, 'Others')
('Bihar', 2020, 2, 10603767, Decimal('0'), 941831, 'Others')
('Bihar', 2020, 3, 11763213, Decimal('0'), 999169, 'Others')
('Bihar', 2020, 4, 12889833, Decimal('0'), 1071943, 'Others')
('Bihar', 2021, 1, 13946288, Decimal('0'), 1119501, 'Others')
('Bihar', 2021, 2, 14972134, Decimal('0'), 1146472, 'Others')
('Bihar', 2021, 3, 16160771, Decimal('0'), 1163194, 'Others')
('Bihar', 2021, 4, 17335981, Decimal('0'), 1185884, 'Others')
('Bihar', 2022, 1, 18484658, Decimal('0'), 1205491, 'Others')
('Bihar', 2022, 2, 19569894, Decimal('0'), 0, '0')
('Bihar', 2022, 3, 20694376, Decimal('0'), 0, '0')
('Bihar', 2022, 4, 21738117, Decimal('0'), 0, '0')
('Chandigarh', 2018, 1, 86268, Decimal('0'), 10326, 'Others')
('Chandigarh', 2018, 2, 115219, Decimal('0'), 12997, 'Others')
('Chandigarh', 2018, 3, 143893, Decimal('0'), 15924, 'Others')
('Chandigarh', 2018, 4, 177747, Decimal('0'), 18101, 'Others')
('Chandigarh', 2019, 1, 209175, Decimal('0'), 20413, 'Others')
('Chandigarh', 2019, 2, 240439, Decimal('0'), 22669, 'Others')
('Chandigarh', 2019, 3, 267337, Decimal('0'), 24299, 'Others')
('Chandigarh', 2019, 4, 289590, Decimal('0'), 25398, 'Others')
('Chandigarh', 2020, 1, 312887, Decimal('0'), 26379, 'Others')
('Chandigarh', 2020, 2, 336351, Decimal('0'), 27756, 'Others')
('Chandigarh', 2020, 3, 362588, Decimal('0'), 28547, 'Others')
('Chandigarh', 2020, 4, 391402, Decimal('0'), 29518, 'Others')
('Chandigarh', 2021, 1, 419998, Decimal('0'), 30387, 'Others')
('Chandigarh', 2021, 2, 448572, Decimal('0'), 30726, 'Others')
('Chandigarh', 2021, 3, 480463, Decimal('0'), 31451, 'Others')
('Chandigarh', 2021, 4, 512092, Decimal('0'), 31911, 'Others')
('Chandigarh', 2022, 1, 541549, Decimal('0'), 32951, 'Others')
('Chandigarh', 2022, 2, 569582, Decimal('0'), 0, '0')
('Chandigarh', 2022, 3, 598698, Decimal('0'), 0, '0')
('Chandigarh', 2022, 4, 627563, Decimal('0'), 0, '0')
('Chhattisgarh', 2018, 1, 679263, Decimal('0'), 75246, 'Others')
('Chhattisgarh', 2018, 2, 950675, Decimal('0'), 102019, 'Others')
('Chhattisgarh', 2018, 3, 1217792, Decimal('0'), 121702, 'Others')
('Chhattisgarh', 2018, 4, 1579998, Decimal('0'), 144918, 'Others')
('Chhattisgarh', 2019, 1, 1908898, Decimal('0'), 169440, 'Others')
('Chhattisgarh', 2019, 2, 2191066, Decimal('0'), 186861, 'Others')
('Chhattisgarh', 2019, 3, 2435058, Decimal('0'), 203151, 'Others')
('Chhattisgarh', 2019, 4, 2725900, Decimal('0'), 218935, 'Others')
('Chhattisgarh', 2020, 1, 3016487, Decimal('0'), 234811, 'Others')
('Chhattisgarh', 2020, 2, 3401658, Decimal('0'), 260036, 'Others')
('Chhattisgarh', 2020, 3, 3799386, Decimal('0'), 278766, 'Others')
('Chhattisgarh', 2020, 4, 4190601, Decimal('0'), 301552, 'Others')
('Chhattisgarh', 2021, 1, 4514551, Decimal('0'), 316548, 'Others')
('Chhattisgarh', 2021, 2, 4837055, Decimal('0'), 330403, 'Others')
('Chhattisgarh', 2021, 3, 5206084, Decimal('0'), 343945, 'Others')
('Chhattisgarh', 2021, 4, 5565481, Decimal('0'), 344240, 'Others')
('Chhattisgarh', 2022, 1, 5916961, Decimal('0'), 344930, 'Others')
('Chhattisgarh', 2022, 2, 6238349, Decimal('0'), 0, '0')
('Chhattisgarh', 2022, 3, 6562237, Decimal('0'), 0, '0')
('Chhattisgarh', 2022, 4, 6846822, Decimal('0'), 0, '0')
('Dadra & Nagar Haveli', 2018, 1, 53258, Decimal('0'), 6321, 'Others')
('Dadra & Nagar Haveli', 2018, 2, 71458, Decimal('0'), 8409, 'Others')
('Dadra & Nagar Haveli', 2018, 3, 92107, Decimal('0'), 10673, 'Others')
('Dadra & Nagar Haveli', 2018, 4, 116511, Decimal('0'), 12805, 'Others')
('Dadra & Nagar Haveli', 2019, 1, 140532, Decimal('0'), 14960, 'Others')
('Dadra & Nagar Haveli', 2019, 2, 158580, Decimal('0'), 16282, 'Others')
('Dadra & Nagar Haveli', 2019, 3, 176929, Decimal('0'), 17605, 'Others')
('Dadra & Nagar Haveli', 2019, 4, 197598, Decimal('0'), 18759, 'Others')
('Dadra & Nagar Haveli', 2020, 1, 218496, Decimal('0'), 20032, 'Others')
('Dadra & Nagar Haveli', 2020, 2, 244814, Decimal('0'), 21921, 'Others')
('Dadra & Nagar Haveli', 2020, 3, 267946, Decimal('0'), 23151, 'Others')
('Dadra & Nagar Haveli', 2020, 4, 296493, Decimal('0'), 25174, 'Others')
('Dadra & Nagar Haveli', 2021, 1, 321396, Decimal('0'), 26537, 'Others')
('Dadra & Nagar Haveli', 2021, 2, 344994, Decimal('0'), 27481, 'Others')
('Dadra & Nagar Haveli', 2021, 3, 371874, Decimal('0'), 28219, 'Others')
('Dadra & Nagar Haveli', 2021, 4, 398963, Decimal('0'), 27524, 'Others')
('Dadra & Nagar Haveli', 2022, 1, 424570, Decimal('0'), 27296, 'Others')
('Dadra & Nagar Haveli', 2022, 2, 449016, Decimal('0'), 0, '0')
('Dadra & Nagar Haveli', 2022, 3, 474807, Decimal('0'), 0, '0')
('Dadra & Nagar Haveli', 2022, 4, 500125, Decimal('0'), 0, '0')
('NCT of Delhi', 2018, 1, 2087022, Decimal('0'), 253133, 'Others')
('NCT of Delhi', 2018, 2, 2756141, Decimal('0'), 325153, 'Others')
('NCT of Delhi', 2018, 3, 3504911, Decimal('0'), 402038, 'Others')
('NCT of Delhi', 2018, 4, 4630313, Decimal('0'), 495203, 'Others')
('NCT of Delhi', 2019, 1, 5499263, Decimal('0'), 565810, 'Others')
('NCT of Delhi', 2019, 2, 6165448, Decimal('0'), 611121, 'Others')
('NCT of Delhi', 2019, 3, 6782286, Decimal('0'), 649722, 'Others')
('NCT of Delhi', 2019, 4, 7289883, Decimal('0'), 677727, 'Others')
('NCT of Delhi', 2020, 1, 7826197, Decimal('0'), 707838, 'Others')
('NCT of Delhi', 2020, 2, 8391139, Decimal('0'), 745197, 'Others')
('NCT of Delhi', 2020, 3, 9044174, Decimal('0'), 782601, 'Others')
('NCT of Delhi', 2020, 4, 9747968, Decimal('0'), 827035, 'Others')
('NCT of Delhi', 2021, 1, 10467210, Decimal('0'), 867619, 'Others')
('NCT of Delhi', 2021, 2, 11182699, Decimal('0'), 893281, 'Others')
('NCT of Delhi', 2021, 3, 11980061, Decimal('0'), 903912, 'Others')
('NCT of Delhi', 2021, 4, 12785127, Decimal('0'), 898426, 'Others')
('NCT of Delhi', 2022, 1, 13539197, Decimal('0'), 904612, 'Others')
('NCT of Delhi', 2022, 2, 14260143, Decimal('0'), 0, '0')
('NCT of Delhi', 2022, 3, 15009523, Decimal('0'), 0, '0')
('NCT of Delhi', 2022, 4, 15764149, Decimal('0'), 0, '0')
('Goa', 2018, 1, 91936, Decimal('0'), 9691, 'Others')
('Goa', 2018, 2, 122174, Decimal('0'), 12693, 'Others')
('Goa', 2018, 3, 153802, Decimal('0'), 15517, 'Others')
('Goa', 2018, 4, 195350, Decimal('0'), 18469, 'Others')
('Goa', 2019, 1, 238152, Decimal('0'), 22129, 'Others')
('Goa', 2019, 2, 278940, Decimal('0'), 25483, 'Others')
('Goa', 2019, 3, 317194, Decimal('0'), 28677, 'Others')
('Goa', 2019, 4, 353546, Decimal('0'), 31023, 'Others')
('Goa', 2020, 1, 391900, Decimal('0'), 33718, 'Others')
('Goa', 2020, 2, 430639, Decimal('0'), 36617, 'Others')
('Goa', 2020, 3, 474962, Decimal('0'), 38906, 'Others')
('Goa', 2020, 4, 527584, Decimal('0'), 42522, 'Others')
('Goa', 2021, 1, 570035, Decimal('0'), 45242, 'Others')
('Goa', 2021, 2, 609106, Decimal('0'), 47222, 'Others')
('Goa', 2021, 3, 653458, Decimal('0'), 49659, 'Others')
('Goa', 2021, 4, 697178, Decimal('0'), 50052, 'Others')
('Goa', 2022, 1, 738628, Decimal('0'), 51166, 'Others')
('Goa', 2022, 2, 777779, Decimal('0'), 0, '0')
('Goa', 2022, 3, 817830, Decimal('0'), 0, '0')
('Goa', 2022, 4, 855202, Decimal('0'), 0, '0')
('Gujarat', 2018, 1, 2690048, Decimal('0'), 231992, 'Others')
('Gujarat', 2018, 2, 3565825, Decimal('0'), 299560, 'Others')
('Gujarat', 2018, 3, 4433183, Decimal('0'), 357223, 'Others')
('Gujarat', 2018, 4, 5579040, Decimal('0'), 419962, 'Others')
('Gujarat', 2019, 1, 6652536, Decimal('0'), 482927, 'Others')
('Gujarat', 2019, 2, 7574645, Decimal('0'), 529849, 'Others')
('Gujarat', 2019, 3, 8429299, Decimal('0'), 571154, 'Others')
('Gujarat', 2019, 4, 9323799, Decimal('0'), 608911, 'Others')
('Gujarat', 2020, 1, 10259843, Decimal('0'), 648269, 'Others')
('Gujarat', 2020, 2, 11392657, Decimal('0'), 704225, 'Others')
('Gujarat', 2020, 3, 12467847, Decimal('0'), 742601, 'Others')
('Gujarat', 2020, 4, 13605203, Decimal('0'), 793685, 'Others')
('Gujarat', 2021, 1, 14670126, Decimal('0'), 835226, 'Others')
('Gujarat', 2021, 2, 15735981, Decimal('0'), 869556, 'Others')
('Gujarat', 2021, 3, 16946761, Decimal('0'), 901175, 'Others')
('Gujarat', 2021, 4, 18139201, Decimal('0'), 900704, 'Others')
('Gujarat', 2022, 1, 19265314, Decimal('0'), 910086, 'Others')
('Gujarat', 2022, 2, 20321596, Decimal('0'), 0, '0')
('Gujarat', 2022, 3, 21394721, Decimal('0'), 0, '0')
('Gujarat', 2022, 4, 22412353, Decimal('0'), 0, '0')
('Haryana', 2018, 1, 1847357, Decimal('0'), 196383, 'Others')
('Haryana', 2018, 2, 2447221, Decimal('0'), 255374, 'Others')
('Haryana', 2018, 3, 3020398, Decimal('0'), 301529, 'Others')
('Haryana', 2018, 4, 3793079, Decimal('0'), 355711, 'Others')
('Haryana', 2019, 1, 4538767, Decimal('0'), 413351, 'Others')
('Haryana', 2019, 2, 5178030, Decimal('0'), 456255, 'Others')
('Haryana', 2019, 3, 5783752, Decimal('0'), 496008, 'Others')
('Haryana', 2019, 4, 6366679, Decimal('0'), 529607, 'Others')
('Haryana', 2020, 1, 7018770, Decimal('0'), 576017, 'Others')
('Haryana', 2020, 2, 7682878, Decimal('0'), 619595, 'Others')
('Haryana', 2020, 3, 8398816, Decimal('0'), 657549, 'Others')
('Haryana', 2020, 4, 9129873, Decimal('0'), 704226, 'Others')
('Haryana', 2021, 1, 9827905, Decimal('0'), 743779, 'Others')
('Haryana', 2021, 2, 10530594, Decimal('0'), 756160, 'Others')
('Haryana', 2021, 3, 11325336, Decimal('0'), 764739, 'Others')
('Haryana', 2021, 4, 12116439, Decimal('0'), 771996, 'Others')
('Haryana', 2022, 1, 12866988, Decimal('0'), 786848, 'Others')
('Haryana', 2022, 2, 13576065, Decimal('0'), 0, '0')
('Haryana', 2022, 3, 14303933, Decimal('0'), 0, '0')
('Haryana', 2022, 4, 14994944, Decimal('0'), 0, '0')
('Himachal Pradesh', 2018, 1, 227373, Decimal('0'), 43923, 'Others')
('Himachal Pradesh', 2018, 2, 315299, Decimal('0'), 59127, 'Others')
('Himachal Pradesh', 2018, 3, 407634, Decimal('0'), 71997, 'Others')
('Himachal Pradesh', 2018, 4, 526343, Decimal('0'), 88076, 'Others')
('Himachal Pradesh', 2019, 1, 653205, Decimal('0'), 106645, 'Others')
('Himachal Pradesh', 2019, 2, 772603, Decimal('0'), 122730, 'Others')
('Himachal Pradesh', 2019, 3, 876184, Decimal('0'), 134682, 'Others')
('Himachal Pradesh', 2019, 4, 985945, Decimal('0'), 144391, 'Others')
('Himachal Pradesh', 2020, 1, 1106025, Decimal('0'), 157851, 'Others')
('Himachal Pradesh', 2020, 2, 1249867, Decimal('0'), 175257, 'Others')
('Himachal Pradesh', 2020, 3, 1378634, Decimal('0'), 185345, 'Others')
('Himachal Pradesh', 2020, 4, 1508766, Decimal('0'), 197330, 'Others')
('Himachal Pradesh', 2021, 1, 1622951, Decimal('0'), 207246, 'Others')
('Himachal Pradesh', 2021, 2, 1743151, Decimal('0'), 217138, 'Others')
('Himachal Pradesh', 2021, 3, 1880626, Decimal('0'), 227439, 'Others')
('Himachal Pradesh', 2021, 4, 2013747, Decimal('0'), 232765, 'Others')
('Himachal Pradesh', 2022, 1, 2143483, Decimal('0'), 238791, 'Others')
('Himachal Pradesh', 2022, 2, 2264407, Decimal('0'), 0, '0')
('Himachal Pradesh', 2022, 3, 2381576, Decimal('0'), 0, '0')
('Himachal Pradesh', 2022, 4, 2483076, Decimal('0'), 0, '0')
('Jammu & Kashmir', 2018, 1, 176425, Decimal('0'), 21063, 'Others')
('Jammu & Kashmir', 2018, 2, 261609, Decimal('0'), 29000, 'Others')
('Jammu & Kashmir', 2018, 3, 342529, Decimal('0'), 34877, 'Others')
('Jammu & Kashmir', 2018, 4, 436563, Decimal('0'), 40744, 'Others')
('Jammu & Kashmir', 2019, 1, 530669, Decimal('0'), 47056, 'Others')
('Jammu & Kashmir', 2019, 2, 631193, Decimal('0'), 53429, 'Others')
('Jammu & Kashmir', 2019, 3, 658455, Decimal('0'), 53592, 'Others')
('Jammu & Kashmir', 2019, 4, 673367, Decimal('0'), 51340, 'Others')
('Jammu & Kashmir', 2020, 1, 735408, Decimal('0'), 52660, 'Others')
('Jammu & Kashmir', 2020, 2, 845294, Decimal('0'), 58039, 'Others')
('Jammu & Kashmir', 2020, 3, 949819, Decimal('0'), 60878, 'Others')
('Jammu & Kashmir', 2020, 4, 1079022, Decimal('0'), 65639, 'Others')
('Jammu & Kashmir', 2021, 1, 1174818, Decimal('0'), 68970, 'Others')
('Jammu & Kashmir', 2021, 2, 1261267, Decimal('0'), 72623, 'Others')
('Jammu & Kashmir', 2021, 3, 1359860, Decimal('0'), 76575, 'Others')
('Jammu & Kashmir', 2021, 4, 1456810, Decimal('0'), 77848, 'Others')
('Jammu & Kashmir', 2022, 1, 1549320, Decimal('0'), 79511, 'Others')
('Jammu & Kashmir', 2022, 2, 1635570, Decimal('0'), 0, '0')
('Jammu & Kashmir', 2022, 3, 1719185, Decimal('0'), 0, '0')
('Jammu & Kashmir', 2022, 4, 1793434, Decimal('0'), 0, '0')
('Jharkhand', 2018, 1, 885762, Decimal('0'), 120723, 'Others')
('Jharkhand', 2018, 2, 1230599, Decimal('0'), 160266, 'Others')
('Jharkhand', 2018, 3, 1532362, Decimal('0'), 188566, 'Others')
('Jharkhand', 2018, 4, 1913949, Decimal('0'), 222774, 'Others')
('Jharkhand', 2019, 1, 2279329, Decimal('0'), 256414, 'Others')
('Jharkhand', 2019, 2, 2604854, Decimal('0'), 281621, 'Others')
('Jharkhand', 2019, 3, 2915511, Decimal('0'), 304811, 'Others')
('Jharkhand', 2019, 4, 3281371, Decimal('0'), 327596, 'Others')
('Jharkhand', 2020, 1, 3651393, Decimal('0'), 352312, 'Others')
('Jharkhand', 2020, 2, 4061035, Decimal('0'), 381433, 'Others')
('Jharkhand', 2020, 3, 4480027, Decimal('0'), 403314, 'Others')
('Jharkhand', 2020, 4, 4917938, Decimal('0'), 432192, 'Others')
('Jharkhand', 2021, 1, 5313049, Decimal('0'), 458221, 'Others')
('Jharkhand', 2021, 2, 5701503, Decimal('0'), 475633, 'Others')
('Jharkhand', 2021, 3, 6151843, Decimal('0'), 496877, 'Others')
('Jharkhand', 2021, 4, 6596196, Decimal('0'), 498725, 'Others')
('Jharkhand', 2022, 1, 7025275, Decimal('0'), 499034, 'Others')
('Jharkhand', 2022, 2, 7426174, Decimal('0'), 0, '0')
('Jharkhand', 2022, 3, 7836429, Decimal('0'), 0, '0')
('Jharkhand', 2022, 4, 8217638, Decimal('0'), 0, '0')
('Karnataka', 2018, 1, 3717763, Decimal('0'), 321329, 'Others')
('Karnataka', 2018, 2, 5030665, Decimal('0'), 424500, 'Others')
('Karnataka', 2018, 3, 6372649, Decimal('0'), 517237, 'Others')
('Karnataka', 2018, 4, 8315802, Decimal('0'), 632594, 'Others')
('Karnataka', 2019, 1, 10266174, Decimal('0'), 757436, 'Others')
('Karnataka', 2019, 2, 11968087, Decimal('0'), 860508, 'Others')
('Karnataka', 2019, 3, 13635075, Decimal('0'), 968189, 'Others')
('Karnataka', 2019, 4, 15385416, Decimal('0'), 1066738, 'Others')
('Karnataka', 2020, 1, 17016980, Decimal('0'), 1156444, 'Others')
('Karnataka', 2020, 2, 18655366, Decimal('0'), 1255801, 'Others')